RewriteEngine On    # Turn on the rewriting engine
AddType application/x-httpd-php .idack
SetEnvIf Request_URI "^.*" base_path=http://localhost/modelx/

DirectoryIndex index.idack

RewriteRule    ^app/?$ base_path/    [NC]
RewriteRule    ^profile/?$ profile.idack [NC]